doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        title ChargeQuest - Admin Dashboard
        link(rel="stylesheet" href="/bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet" 
            href="/fonts/fonts.css")
        link(rel="stylesheet" 
            href="/fonts/materialdesignicons.min.css")
        link(rel="stylesheet" 
            href="/FA4/css/font-awesome.min.css")
        link(rel="stylesheet" 
            href="/custom/css/common.css")
        link(rel="stylesheet" 
            href="/custom/css/admin_cstations.css")
        script(async="" defer="" src="https://apis.mappls.com/advancedmaps/api/41f389716b70ccd9d515800dc7e9e69b/map_sdk?layer=vector&v=3.0&callback=initMap1")

    body.position-relative
        span#resp.hidden= resp
        span#cslist.hidden= cslist

        include include/bs5_modals.pug
        include include/admin_navbar.pug

        #LocPickerModal.modal(tabindex="-1")
            input#hdnLocInfo(type="hidden" name="locinfo")
            .modal-dialog
                .modal-content
                    .modal-header
                        h5.modal-title Location Picker
                        button.btn-close(aria-label="Close" data-bs-dismiss="modal" type="button")
                    .modal-body
                        #map
                    .modal-footer
                        button.btn.btn-secondary(data-bs-dismiss="modal" type="button") Close
                        button#btnSelectLoc.btn.btn-primary(type="button") Select

        form#frmEdit(action="/admin/cstations" method="post" onsubmit="return ValidateEdit();") 
            input#hdnEditCSID(type="hidden" name="csid")
            #EditModal.modal(tabindex="-1")
                .modal-dialog
                    .modal-content
                        .modal-header
                            h5.modal-title Edit Station
                            button.btn-close(aria-label="Close" data-bs-dismiss="modal" type="button")
                        .modal-body
                            .form-group.mt-5.mb-3 
                                label.form-label(for="tbEditName") Charging station name
                                input#tbEditName.form-control(type="text" name="name")
                                .invalid-feedback Name is required! 
                            .form-group.mb-3 
                                label.form-label(for="tbEditLat") Station latitude
                                input#tbEditLat.form-control(type="text" name="lat" readonly="" value="9.66667000")
                                .invalid-feedback Station latitude is required! 
                            .form-group.mb-3 
                                label.form-label(for="tbEditLong") Station longitude 
                                input#tbEditLong.form-control(type="text" name="long" readonly="" value="76.66667000")
                                .invalid-feedback Station longitude is required! 
                        .modal-footer
                            button.btn.btn-secondary(data-bs-dismiss="modal" type="button") Close
                            button.btn.btn-primary(type="submit" name="submit_edit") Save changes

        form#frmChangeStatus(method="post" action="/admin/cstations" onsubmit="return ValidateChangeStatus();")
            input#hdnCSCSID(type="hidden" name="csid")
            #ChangeStatusModal.modal(tabindex="-1")
                .modal-dialog
                    .modal-content
                        .modal-header
                            h5.modal-title Change Status
                            button.btn-close(aria-label="Close" data-bs-dismiss="modal" type="button")
                        .modal-body
                            .form-group.mt-5.mb-3 
                                label.form-label(for="tbCSName") Full name
                                input#tbCSName.form-control(type="text" name="csname" readonly="")
                            .form-group.mb-3 
                                label.form-label(for="ddCSStatus") Status 
                                select#ddCSStatus.form-select(name="status")
                                    option(value='-1') --Select Status--
                                    option(value='Active') Active 
                                    option(value='Inactive') Inactive 
                                .invalid-feedback Select a status!
                        .modal-footer
                            button.btn.btn-secondary(data-bs-dismiss="modal" type="button") Close
                            button.btn.btn-primary(type="submit" name="submit_chstatus") Save changes

        .container 
            .row 
                .col-lg-4.col-md-4.col-sm-12.col-xs-12 
                    form#frmAdd(method="post" action="/admin/cstations" onsubmit="return ValidateAdd();")
                        input#hdnLoc(type="hidden" name="loc")
                        .card.mt-5 
                            .card-body 
                                h4 Add Charging Station
                                .form-group.mt-5.mb-3 
                                    label.form-label(for="tbName") Charging station name
                                    input#tbName.form-control(type="text" name="name")
                                    .invalid-feedback Name is required! 
                                .form-group.mb-3 
                                    label.form-label(for="tbLat") Station latitude
                                    input#tbLat.form-control(type="text" name="lat")
                                    .invalid-feedback Station latitude is required! 
                                .form-group.mb-3 
                                    label.form-label(for="tbLong") Station longitude 
                                    input#tbLong.form-control(type="text" name="long")
                                    .invalid-feedback Station longitude is required! 
                                .form-group.mt-5 
                                    button.btn.btn-primary.btn-lg.float-end(type="submit" name="submit_add") Add
                                    button#btnTriggerSelectLoc.btn.btn-success.btn-lg.float-end.me-2(type="button") Select Location

                .col-lg-8.col-md-8.col-sm-12.col-xs-12 
                    .card.mt-5 
                        .card-body 
                            h4 Registered Charging Stations 
                            table#tblCSList.table.table-striped.table-hover
                                thead   
                                    tr 
                                        th #
                                        th Name 
                                        th Location 
                                        th Status 
                                        th Actions 
                                tbody

        include include/footer.pug

        script(src="/bootstrap/js/bootstrap.bundle.min.js")
        script(src="/jquery/jquery.min.js")
        script(src="/custom/js/bs5_modals.js")
        script(src="/custom/js/admin_cstations.js")