doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(content="width=device-width, initial-scale=1" 
            name="viewport")
        title ChargeQuest - Signup
        link(rel="stylesheet" 
            href="/bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet" 
            href="/fonts/fonts.css")
        link(rel="stylesheet" 
            href="/fonts/materialdesignicons.min.css")
        link(rel="stylesheet" 
            href="/custom/css/common.css")
        link(rel="stylesheet" 
            href="/custom/css/user_signup.css")
    body
        include include/bs5_modals.pug 
        span#resp.hidden= resp
        #LoginModal.modal(tabindex="-1")
            .modal-dialog
                .modal-content
                    .modal-header
                        h5.modal-title Modal title
                        button.btn-close(aria-label="Close" data-bs-dismiss="modal" type="button")
                    .modal-body
                        p Your account has been created and ready! Login to the account to start your ChargeQuest journey.
                    .modal-footer
                        a.btn.btn-primary(href="/user/login") Go to Login...

        .container
            .row 
                .col-lg-8.offset-lg-2.col-md-8.offset-md-2.col-sm-12
                    form#frmLogin(method="post" action="/user/signup" onsubmit="return ValidateSignup();")
                        h2.text-center 
                            b ChargeQuest
                            br 
                            | User Sign-Up
                        .card.mt-3.shadow
                            .card-body 
                                .row 
                                    .col-lg-6.col-md-6.col-sm-12
                                        .form-group.mt-5.mb-3 
                                            label.form-label(for="tbFullName") Full name
                                            input#tbFullName.form-control(type="text" name="fullname")
                                            .invalid-feedback Fullname is required! 
                                        .form-group.mb-3 
                                            label.form-label(for="tbEmail") E-mail
                                            input#tbEmail.form-control(type="email" name="email")
                                            .invalid-feedback E-mail is required! 
                                        .form-group.mb-3 
                                            label.form-label(for="tbPasswd") Password
                                            input#tbPasswd.form-control(type="password" name="passwd")
                                            .invalid-feedback The password should be 6 characters or more, atleast 1 capital letter, 1 small letter, 1 digit, 1 special symbol.
                                        .form-group.mb-3 
                                            label.form-label(for="tbPasswd1") Confirm password
                                            input#tbPasswd1.form-control(type="password" name="passwd1")
                                            .invalid-feedback The passwords should match

                                    .col-lg-6.col-md-6.col-sm-12
                                        .form-group.mt-5.mb-3 
                                            label.form-label(for="tbMobile") Mobile
                                            input#tbMobile.form-control(type="tel" name="mobile")
                                            .invalid-feedback Mobile is required!
                                        .form-group.mb-3 
                                            label.form-label(for="tbAddress") Address
                                            textarea#tbAddress.form-control(name="addr" rows="2")
                                            .invalid-feedback Address is required! 
                                        .form-group.mb-3 
                                            label.form-label(for="tbCity") City
                                            input#tbCity.form-control(type="text" name="city")
                                            .invalid-feedback City is required!
                                        .form-group.mb-3 
                                            label.form-label(for="tbDob") Date of birth
                                            input#tbDob.form-control(type="date" name="dob")
                                            .invalid-feedback Date of birth is required! 
                                
                                .row 
                                    .form-group
                                        button#btnSubmit.btn.btn-primary.btn-lg.w-100.mt-5(type="submit" name="submit_signup") 
                                            span.mdi.mdi-account-plus
                                            | &nbsp;Sign Up!

                                
        script(src="/bootstrap/js/bootstrap.bundle.min.js")
        script(src="/jquery/jquery.min.js")
        script(src="/custom/js/bs5_modals.js")
        script(src="/custom/js/user_signup.js")